@use "utilities";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  // border-radius: 20px;
}

.links {
  margin-bottom: 10px;
  > p > a {
    color: utilities.$secondary-color;
    font-family: utilities.$secondary-font;
    text-decoration: underline;
  }
}
